# Godot 4+ specific ignores
.godot/
/android/
/.vscode
scripts/output_finetune.jsonl
scripts/data.json
/scripts/uploaded_images
/godot-runtime
docs/schema_examples.md
export/windows/finetune-collector.exe
export/windows/finetune-collector.console.exe
/tests/__pycache__/
/scripts/stored_projects/
*.pyc
/export/windows
export/windows.zip
export/web.zip
export/linux.zip
export/windows/finetune-collector.exe
export/windows/finetune-collector.console.exe
export/android/finetune-collector.apk.idsig
export/android/finetune-collector.apk
