# Godot 4+ specific ignores
.godot/
/android/
/.vscode
scripts/output_finetune.jsonl
scripts/data.json
/scripts/uploaded_images
/godot-runtime
docs/schema_examples.md
export/windows/finetune-collector.exe
export/windows/finetune-collector.console.exe
/export/windows
export/windows.zip
export/web.zip
export/linux.zip
